body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
}

.align {
  flex-direction: column;
}

.align-text {
  display: flex;
}

.left {
  align-items: start;
  justify-content: start;
}